*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/bootstrap/ssr
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/tests/Browser/Screenshots/auth_user_can_view_their_timeline.png
/tests/Browser/Screenshots/auth_user_follow_another_user.png
/tests/Browser/Screenshots/it_like_a_post.png
/tests/Browser/Screenshots/it_view_a_single_post.png
